.form__input input,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.171);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__input {
  margin-bottom: 15px;
  width: 100%;

  /* flex-direction: row; */
}

form .create {
  text-align: center;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form__input .preview-img {
  margin-left: 30vh;
  width: 37vh;
  /* height: 30vh; */
}
.form__input .preview-img img {
  width: 100%;
  object-fit: cover;
}

.form__input label {
  color: #fff;
  margin-bottom: 10px;
}

.form__input .upload__input {
  /* padding: 80px 30px; */
  padding: 0;
  width: 46vh;
  border: 2px dashed rgba(221, 221, 221, 0.171);
  position: relative;
}
.form__input .upload__input input {
  opacity: 0;
  width: 100%;
  height: 263px;
}
.form__input .upload__input .upload-form {
  position: absolute;
  top: 30%;
  left: 23%;
  z-index: -11;
}
.form__input .upload__input .sp {
  margin-left: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.772);
}
.form__input .upload__input ::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
  }
}
